services:
  serverapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: serverapp
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=BankAppDB;User Id=sa;Password=11223344Aa.;
    depends_on:
      - sqlserver
    networks:
      - bankapp_network

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "11223344Aa."
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./mssql-backups:/var/opt/mssql/backup
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    networks:
      - bankapp_network

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 123456
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - bankapp_network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - bankapp_network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "7071:7071"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT_INTERNAL://0.0.0.0:29092,PLAINTEXT_EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"
    volumes:
      - ./kafka-jmx-exporter:/etc/jmx-exporter
    command: >
      bash -c "KAFKA_JMX_OPTS='-javaagent:/etc/jmx-exporter/jmx_prometheus_javaagent-0.16.1.jar=7071:/etc/jmx-exporter/kafka-2_0_0.yml'
      /etc/confluent/docker/run"
    networks:
      - bankapp_network
      
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "5100:9090"
    depends_on:
      - serverapp
      - kafka
    networks:
      - bankapp_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5200:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - bankapp_network
  
  kafka-exporter:
    image: danielqsj/kafka-exporter:v1.7.0
    container_name: kafka-exporter
    command:
      - "--kafka.server=kafka:29092"
      - "--zookeeper.server=zookeeper:2181"
      - "--log.level=info"
      - "--topic.filter=.*"
      - "--group.filter=.*"
      - "--web.listen-address=:9308"
    ports:
      - "9308:9308"
    depends_on:
      - kafka
      - zookeeper
    networks:
      - bankapp_network

volumes:
  sqlserver_data:
  mongo_data:
  grafana_data:

networks:
  bankapp_network:
    name: bankapp_network
    driver: bridge
