<div class="container">
  <h1 class="text-center mb-5">İş Ortaklarımız</h1>
  <section class="customer-logos slider">
    <div class="slide"><img src="assets/vakifBank.jpg" alt="Bank 1"></div>
    <div class="slide"><img src="assets/ziraatBank.jpg" alt="Bank 2"></div>
    <div class="slide"><img src="assets/halkBank.png" alt="Bank 3"></div>
    <div class="slide"><img src="assets/garantiBank.png" alt="Bank 4"></div>
    <div class="slide"><img src="assets/akBank.png" alt="Bank 5"></div>
    <div class="slide"><img src="assets/isBank.png" alt="Bank 6"></div>
    <div class="slide"><img src="assets/yapiKBank.png" alt="Bank 7"></div>
  </section>
</div>
